.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2rem;
  gap: 2rem;
}

.imgWrapper img {
  height: 100%;
  width: 100%;
  border-radius: 8px;
}

.textContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 2rem;
}

.banner {
  position: absolute;
  top: 0px;
  background-color: black;
  width: 100%;
  text-align: center;
}

.moveIn {
  animation-name: move-in;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes move-in {
  0% {
    top: -16px;
  }

  100% {
    top: 0px;
  }
}
